body {
    font-family: "Times New Roman", Times, serif;
    color: #1C2B2B;
    background-color: #FCFDFC;
    margin: 0;
}

header {
    background-color: #F3E6C8;
    text-align: center;
    padding: 25px;
}

header h1 {
    color: #064E4F;
    margin: 0;
    font-size: 36px;
}

#site-name {
    font-size: 32px;
    font-weight: bold;
}

#tagline {
    color: #5F7171;
    font-style: italic;
}

header a {
    color: #064E4F;
    text-decoration: none;
}

#nav {
    background-color: #112690;
    text-align: center;
    padding: 15px;
}

#nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav li {
    display: inline;
    margin-right: 24px;
}

#nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#nav a:hover {
    text-decoration: underline;
}

#main {
    width: 720px;
    padding: 24px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 24px;

    border: 3px solid #B9CECE;
    border-radius: 10px;

    text-align: center;
}

#main > h1 {
    color: #064E4F;
    margin-top: 0;
    margin-bottom: 35px;
}

#main > div {
    display: inline-block;
    vertical-align: top;

    width: 240px;

    margin: 0 20px 25px 20px;

    text-align: center;
}

#main > div img {
    width: 240px;
    height: 160px;

    object-fit: cover;
}

#main > div h2 {
    color: #064E4F;

    margin-top: 10px;
    margin-bottom: 5px;
}


#main > div p {
    margin: 5px 0;
}

.price {
    font-weight: bold;
    color: #B86B00;
}

#main > h2 {
    color: #064E4F;
    margin-top: 20px;
    margin-bottom: 15px;
}

table {
    margin-left: auto;
    margin-right: auto;

    border-collapse: collapse;

    border: 1px solid #5F7171;
}

th,
td {
    border: 1px solid #5F7171;
    padding: 8px 16px;
    text-align: left;
}

th {
    background-color: #E8EFEF;
    color: #064E4F;
}

td:last-child {
    color: #B86B00;
    font-weight: bold;
}

footer,
#footer {
    background-color: #064E4F;
    color: white;

    text-align: center;

    padding: 16px 24px;

    margin-top: 30px;
}

footer p,
#footer p {
    margin: 5px;
}


a.current {
    font-weight: bold;
}
